.tituloPortada {
    font-family: "all-round-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 9em;
    color: white;
    padding: 0px;
    margin: 0px;
}

#portada {
    background: linear-gradient(to right, rgba(71, 43, 109, 0.8), rgba(171, 52, 103, 0.8)) center no-repeat, url('./imgs-portada/pc.jpg') center no-repeat;
    background-size: cover;
    height: 100vh !important;
}

.ubicacion {
    font-family: "all-round-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

#tituloPortada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 465px) {
    .tituloPortada {
        font-size: 5em;
        text-align: center;
    }

    #tituloPortada {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width:466px) and (max-width: 600px) {
    .tituloPortada {
        font-size: 6em;
        text-align: center;
    }

    #tituloPortada {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width:601px) and (max-width: 768px) {
    .tituloPortada {
        font-size: 7em;
    }
}

@media only screen and (min-width:769px) and (max-width: 992px) {
    .tituloPortada {
        font-size: 8em;
    }
}