.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-items ul, .nav-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-items ul li {
    list-style-type: none;
    display: block;
    padding: .5em 1em;
}

.nav-items a {
    /* margin: 15px; */
    color: white;
    /* position: relative; */
    text-decoration: none;
    padding-bottom: .5em;
    border-bottom: 2px solid transparent;
}

.nav-items a:hover {
    border-bottom: 2px solid white;
    transition: 0.25s ease all;
}

.nav-toggle, .nav-title, .btn-nav {
    display: none;
}

.contacto-iconos-menu {
    display: none;
}

.btn-nav {
    color: white;
    font-size: 1.5em !important;
    margin-right: 15px;
}

@media (max-width: 992px) {
    .nav-items {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(71, 43, 109);
        width: 70%;
        height: 100%;
        transform: translateX(-100%);
        transition: 0.3s ease all;
        z-index: 10000000000;
        max-width: 400px;
    }

    .nav-items ul {
        flex-direction: column;
        position: relative;
        width: 100%;
        max-width: 336px;
        margin-top: 1em;
    }

    .nav-items ul li {
        width: 100%;
        background: rgb(255, 255, 255, 0.2);
        border-radius: 5px;
        border: 2px solid transparent !important;
        margin-bottom: 1em;
        box-sizing: border-box !important;
        padding: 0px;
    }

    .nav-items ul li a {
        display: block;
        width: 100%;
        border-bottom: 0px solid transparent;
        padding: .5em 1em;
    }

    .nav-items ul li a:hover {
        border-bottom: 0px solid transparent;
    }

    .nav-items.open {
        transform: translateX(0) !important;
    }

    .nav-items.open .icono-menu {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .nav-items.open li:hover {
        border: 2px solid white !important;
        transition: 0.25s ease all !important;
    }

    .nav-toggle, .nav-title {
        display: flex !important;
        flex-direction: column;
    }

    .nav-items .nav-title {
        font-family: "all-round-gothic", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.5em;
        color: white;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .nav-items .titulo-btn-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        max-width: 336px;
        margin-top: 2em;
    }

    .nav-items .btn-nav {
        margin-right: 0;
        display: flex !important;
    }

    .nav-toggle span {
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    
    .nav-items .contacto-iconos-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        max-width: 336px;
    }

    .nav-items .icono-menu {
        padding-bottom: 0 !important;
        border-bottom: 0px solid transparent !important;
    }

    .nav-items .icono-menu:hover {
        border-bottom: 0px solid transparent !important;
    }
}

@media (max-width: 576px) {
    .nav-items {
        width: 100%;
        max-width: 100vw;
        padding: 0 1em;
        box-sizing: border-box;
    }

    .nav-items .contacto-iconos-menu, .nav-items .titulo-btn-menu, .nav-items ul {
        max-width: 100%;
    }

    .nav-items ul li {
        padding: 0px;
    }

    .nav-items ul li a {
        display: block;
        width: 100%;
        border-bottom: 0px solid transparent;
        padding: .5em 1em;
    }

    .nav-items ul li a:hover {
        border-bottom: 0px solid transparent;
    }
}