.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items a {
    margin: 15px;
    color: white;
    position: relative;
    text-decoration: none;
    padding-bottom: .5em;
    border-bottom: 2px solid transparent;
}

.nav-items a:hover {
    border-bottom: 2px solid white;
    transition: 0.25s ease all;
}

.nav-toggle, .nav-title, .btn-nav {
    display: none;
}

.contacto-iconos-menu {
    display: none;
}

.btn-nav {
    color: white;
    font-size: 1.5em !important;
    margin-right: 15px;
}

@media (max-width: 992px) {
    .nav-items {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(71, 43, 109);
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        transform: translateX(-100%);
        transition: 0.3s ease all;
        z-index: 10000000000;
        max-width: 400px;
    }

    .nav-items.open {
        transform: translateX(0) !important;
    }

    .nav-items.open a {
        background: rgb(255, 255, 255, 0.2);
        padding: .5em;
        border-radius: 5px;
        border: 2px solid transparent !important;
    }

    .icono-menu {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .nav-items.open a:hover {
        border: 2px solid white !important;
        transition: 0.25s ease all !important;
    }

    .nav-toggle, .nav-title {
        display: flex !important;
        flex-direction: column;
    }

    .nav-title {
        font-family: "all-round-gothic", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.5em;
        color: white;
        margin-bottom: 0px;
        margin-left: 15px;
        margin-top: 0px;
    }

    .contacto-menu {
        margin-left: 15px !important;
    }

    .nav-toggle span {
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    /* .nav-toggle.open > span {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .nav-toggle.open > span:nth-child(2) {
        display: none;
    }

    .nav-toggle.open > span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    } */

    .contacto-iconos-menu {
        display: block !important;
    }

    .btn-nav.open {
        display: flex !important;
    }
}