#gridExperiencia h1 {
    text-transform: uppercase;
    font-size: 1.6em !important;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 0px !important;
    padding-bottom: .5em;
    text-align: center;
}

.gridExperiencia {
    /* height: 100vh; */
    background-image: url('./imgsExperiencia/palabras/informatica.png');
    background-repeat: no-repeat;
    background-position: 110% 25%;
    overflow:  hidden !important;
}

.gridExperience {
    /* height: 100vh; */
    background-image: url('./imgsExperiencia/palabras/computing.png');
    background-repeat: no-repeat;
    background-position: 110% 25%;
    overflow:  hidden !important;
}

#gridExperiencia h1 span {
    font-weight: 100 !important;
}

.lineaTitulo2 {
    border-bottom: 2px solid #472b6d;
    max-width: 50px !important;
    margin: auto !important;
    margin-bottom: 3em !important;
}

.iconConocimientos {
    color: grey;
    font-size: 70px !important;
}

#gridExperiencia h2 {
    font-size: 1.1em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.titleModal span {
    font-weight: 100 !important;
}

.imgHabilidades {
    width: 100px !important;
    height: 100px !important;
    background-color: #f8f2f2 !important;
    border-radius: 100%;
    padding: 15px !important;
    overflow: hidden;
	box-sizing: border-box;
}

.imgHabilidades img {
    width: 100% !important;
    height: 100% !important;
    object-fit: scale-down !important;
}

.textoHabilidades {
    margin: 0px !important;
    padding: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 1em !important;
    font-size: .9em;
}

.verMas {
    background-color: #472b6d !important;
    width: 100% !important;
    color: white !important;
    height: 100% !important;
}

.verMas:hover {
    background-color: #5d3d8a !important;
}

.titleModal {
    border-bottom: 1px solid #cdcdcd;
    color: black;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: .5em;
}

.close {
    color: grey !important;
    padding: 0px !important;
    margin: 0px !important;
}

.close:hover {
    background-color: white;
}

.titleExperiencia {
    text-align: center !important;
    font-size: 1em !important;
    margin-bottom: 2em !important;
    margin-top: 1em !important;
}

.cardExperiencia {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    text-align: center !important;
    padding: 1.5em !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
}

.cardContent {
    padding: 0px !important;
}

@media only screen and (max-width: 465px) {
    .cardExperiencia {
        /* width: 100% !important; */
        margin-bottom: 3em !important;
    }

    .lenguaje1, .lenguaje2 {
        min-width: 90px !important;
        margin-bottom: 1em !important;
        margin-top: 0px !important;
        font-size: .9em !important;
    }

    .titleModal {
        font-size: 1.2em !important;
    }

    #gridExperiencia {
        background-position: -50px 4%;
    }

    #gridExperiencia h1 {
        padding-top: 2em !important;
    }
    
}

@media only screen and (min-width:466px) and (max-width: 600px) {
    .lenguaje1, .lenguaje2 {
        min-width: 110px !important;
        margin-bottom: 1em !important;
        margin-top: 0px !important;
        font-size: .9em !important;
    }

    .titleModal {
        font-size: 1.3em !important;
    }

    #gridExperiencia {
        background-position: -50px 4%;
    }
}

@media only screen and (min-width:601px) and (max-width: 768px) {
    .lenguaje1, .lenguaje2 {
        min-width: 90px !important;
        margin-bottom: 1em !important;
        margin-top: 0px !important;
        font-size: .9em !important;
        margin-right: 1em;
    }

    .titleModal {
        font-size: 1.4em !important;
    }

    #gridExperiencia {
        background-position: -50px 2%;
    }
}

@media only screen and (min-width:769px) and (max-width: 899px) {
    .lenguaje1, .lenguaje2 {
        min-width: 110px !important;
        margin-bottom: 1em !important;
        margin-top: 0px !important;
        font-size: .9em !important;
        margin-right: 1em;
    }

    .titleModal {
        font-size: 1.5em !important;
    }

    #gridExperiencia {
        background-position: -50px 2%;
    }
}

@media only screen and (min-width:899px) {
    #gridExperiencia {
        height: 100vh;
    }
}