.presentacionDiv {
    overflow-y: hidden !important;
    background-image: url('./imgs-bienvenido/bienvenido.png');
    background-repeat: no-repeat;
    background-position: -15% 20%;
}

.presentationDiv {
    overflow-y: hidden !important;
    background-image: url('./imgs-bienvenido/welcome.png');
    background-repeat: no-repeat;
    background-position: -15% 20%;
}

#presentacionDiv h1 {
    text-transform: uppercase;
    font-size: 1.6em !important;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 0px !important;
    padding-bottom: .5em;
}

.lineaTitulo {
    border-bottom: 2px solid #472b6d;
    max-width: 50px !important;
}

#presentacionDiv h1 span {
    font-weight: 100 !important;
}

.bienvenidoList {
    list-style-type: none !important;
    padding-left: 0px !important; 
}

#presentacionDiv h2 {
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: 0px;
    text-transform: uppercase;
    color: #472b6d;
}

#meConsidero {
    margin-top: 1em;
    margin-bottom: 2em !important;
    max-width: 500px;
    font-size: .9em;
}

.habilidadesIdiomas li {
    margin-bottom: .5em;
    font-size: .9em;
}

.boxHabilidades {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: .5em;
    border: 2px solid #472b6d;
    max-height: 180px;
    overflow: hidden;
}

.iconHabilidad {
    color: #472b6d;
}

#imgBienvenido img {
    width: 100% !important;
    height: 100% !important;
    filter: saturate(0%) !important;
}

#imgBienvenido {
    overflow-y: hidden !important;
}

@media only screen and (max-width: 465px) {
    .lineaTitulo {
        margin: auto !important;
    }

    #presentacionDiv {
        background-position: -50px 4%;
    }    
}

@media only screen and (min-width:466px) and (max-width: 600px) {
    .lineaTitulo {
        margin: auto !important;
    }

    #presentacionDiv {
        background-position: -50px 4%;
    }   
    
}

@media only screen and (min-width:601px) and (max-width: 768px) {
    .lineaTitulo {
        margin: auto !important;
    }

    #presentacionDiv {
        background-position: -50px 2%;
    } 
    
}

@media only screen and (min-width:769px) and (max-width: 899px) {
    .lineaTitulo {
        margin: auto !important;
    }

    #presentacionDiv {
        background-position: -50px 2%;
    } 
}

@media only screen and (min-width:900px) and (max-width: 1080px) {
    #meConsidero {
        max-width: 450px;
    }    
}