#footerDiv {
    background-color: #212121;
    color: white;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

#copyright {
    border-top: 1px solid #ACACAC;
    color: #ACACAC;
}

#copyright p {
    margin-bottom: 0;
}

.footerTexto {
    font-family: "all-round-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8em;
    margin-bottom: 0px !important;
    margin-top: 0px;
}

.footerTexto:nth-of-type(2) {
    margin-top: 0px !important;
}

@media only screen and (max-width: 465px) {
    #portfolioFooter {
        margin-top: 0px !important;
        margin-right: 5px;
    }
}

@media only screen and (min-width:466px) and (max-width: 599px) {
    #portfolioFooter {
        margin-top: 0px !important;
        margin-right: 5px;
    }
}