#btnTraductor {
    border-radius: 100%;
    width: 45px !important;
    min-width: unset !important;
    height: 45px !important;
    background-color: white;
    border: 1px solid #cdcdcd;
    padding: 0px !important;
}

#btnTraductor2 {
    border-radius: 100%;
    width: 45px !important;
    min-width: unset !important;
    height: 45px !important;
    margin-bottom: .8em !important;
    background-color: white;
    border: 1px solid #cdcdcd;
    padding: 0px !important;
}

#btns {
    margin-right: 20px !important;
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important;
    margin-bottom: 20px !important;
    max-width: 100% !important;
    z-index: 99999 !important;
}

#btnTraductor img, #btnTraductor2 img {
    border-radius: 3px;
    width: 25px;
    height: 15px;
}

#volverArriba {
    color: rgb(90, 90, 90) !important;
    background-color: white;
    border-radius: 100% !important;
    font-size: 1.8em;
    border: 1px solid #cdcdcd;
}

.volverArriba {
    opacity: 0 !important;
    transition: 0.25s ease all !important;
}

.volverArriba.activo {
    opacity:  1 !important;
}

#btnTraductor3 {
    border-radius: 100%;
    width: 45px !important;
    min-width: unset !important;
    height: 20px !important;
    margin-bottom: .8em !important;
    background-color: transparent !important;
    padding: 0px !important;
}